<section class="services">
    <!-- <h2>Nuestros Servicios</h2> -->
    
    <div class="service">
      <img src="https://img.freepik.com/foto-gratis/senora-positiva-disfruta-tratamiento-spa-matutino-chica-despues-ducha-posando-pared-aislada_197531-13924.jpg?t=st=1742789039~exp=1742792639~hmac=ee23be6a5108c90d11d008e1524a8537c7932d657b58bb592589d49512d4ee6c&w=740" alt="Belleza Facial">
      <h3>Estética Facial</h3>
      <p>Tratamientos personalizados para realzar tu belleza natural.</p>
      <button class="btn">Más Información</button>

    </div>
    
    <div class="service">
      <img src="https://img.freepik.com/foto-gratis/mujer-joven-relajante-salon-belleza_23-2148895551.jpg?t=st=1742789240~exp=1742792840~hmac=9a401b12e97fa55ab138a80f526c43fb5c45bfd4944d8ba21fe1e9ae5d5ed018&w=740" alt="Depilación de Cejas con Hilo">
      <h3>Depilación de Cejas con Hilo</h3>
      <p>Técnica tradicional para definir y embellecer tus cejas.</p>
      <button class="btn">Más Información</button>

    </div>
    
    <div class="service">
      <img src="https://img.freepik.com/foto-gratis/mujer-recibiendo-tratamiento-cejas-esteticista_23-2148845991.jpg?t=st=1742789240~exp=1742792840~hmac=7e62855943046b6babf5328bc23bad2c9650d00000c04089278353835879ef03&w=740" alt="Perfilado de Cejas">
      <h3>Perfilado de Cejas</h3>
      <p>Define tus cejas para un look armonioso y elegante.</p>
      <button class="btn">Más Información</button>

    </div>

    <div class="service">
      <img src="https://img.freepik.com/foto-gratis/cosmetologia-medico-paciente_624325-1650.jpg?t=st=1742789596~exp=1742793196~hmac=4fa858f9c7124d26e2c506c2418294f5148a56bead494e9573188a5292801ea6&w=740" alt="Limpieza Facial">
      <h3>Limpieza Facial</h3>
      <p>Elimina impurezas y renueva tu piel para un aspecto fresco.</p>
      <button class="btn">Más Información</button>

    </div>

    <div class="service">
      <img src="https://img.freepik.com/foto-gratis/linda-mujer-procedimiento-rejuvenecimiento-piel_7502-7517.jpg?t=st=1742789474~exp=1742793074~hmac=811eefea7019c153f4ab43662d9d178a57dab300be800a1de94b50e2208452e0&w=740" alt="Baño de Luna en Rostro">
      <h3>Aclaramiento de Piel Facial</h3>
      <p>Restaura la claridad y brillo de tu piel.</p>
      <button class="btn">Más Información</button>

    </div>

    <div class="service">
      <img src="https://www.lanacion.com.py/resizer/v2/https%3A%2F%2Fcloudfront-us-east-1.images.arcpublishing.com%2Flanacionpy%2FC567NIXSM5GWZA2O5C6YAGJSNA.jpg?auth=57ac6f7b3ead426843a25c6dca950e8a5cb4c98e1e9be8d60a809484d635f811&width=1016&smart=true" alt="Baño de Luna Corporal">
      <h3>Aclaramiento de Piel Total</h3>
      <p>Un tratamiento completo para iluminar tu piel.</p>
      <button class="btn">Más Información</button>

    </div>

    <div class="service">
      <img src="https://www.lanacion.com.py/resizer/v2/https%3A%2F%2Fcloudfront-us-east-1.images.arcpublishing.com%2Flanacionpy%2FC567NIXSM5GWZA2O5C6YAGJSNA.jpg?auth=57ac6f7b3ead426843a25c6dca950e8a5cb4c98e1e9be8d60a809484d635f811&width=1016&smart=true" alt="Masaje Anti-Estrés">
      <h3>Masaje Anti-Estrés</h3>
      <p>Relaja tu cuerpo y mente con técnicas relajantes.</p>
      <button class="btn">Más Información</button>

    </div>

    <div class="service">
      <img src="https://img.freepik.com/foto-gratis/hermosa-joven-atravesando-tratamiento-microblading_23-2149238664.jpg?t=st=1742790058~exp=1742793658~hmac=552020085fda92a5cee24f1cc68417135e56095018cb3311126c6ad24957144c&w=996" alt="Hena en Cejas">
      <h3>Hena en Cejas</h3>
      <p>Realza tus cejas con pigmentos naturales.</p>
      <button class="btn">Más Información</button>

    </div>
  </section>