<div class="home-container">

  <!-- Navbar -->


  <!-- Sección de Bienvenida -->
  <section id="inicio" class="welcome">
    <h1>Bienvenido a Grace - Beauty and Health</h1>
    <p>Tu espacio ideal para realzar tu belleza y bienestar.</p>
    <img src="URL_DE_TU_IMAGEN_PRINCIPAL" alt="Imagen bienvenida">
  </section>

  <!-- Sección de Entrenamiento -->
  <section id="training" class="training">
    <h2>Entrenamiento</h2>
    <p>Descubre nuestras capacitaciones en estética y belleza. Aprende de los mejores.</p>
    <div class="training-options">
      <div class="option">
        <h3>Capacitación en Microblading</h3>
        <button class="btn">Ver Detalles</button>
      </div>
      <div class="option">
        <h3>Capacitación en Pestañas</h3>
        <button class="btn">Ver Detalles</button>
      </div>
    </div>
  </section>


</div>